.wrapper {
    width: 80%;
    max-width: 80%;
    height: 100vh;
    margin: 0 auto;
    color: #f0f0f0;

    display: flex;
    flex-direction: column;
    position: relative;
    top: 5vh;
    left: 5%;
}

body {
    margin: 0;
    background-color: #121212;
    font-family: Arial, Helvetica, sans-serif;
    color: #f0f0f0;
    height: 100vh;
    overflow-y: hidden;
}

#chat {
    width: 100%;
    height: 75vh;
    overflow: auto;
    padding: 10px;
    background-color: #2a2a2a;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    scrollbar-width: none;
    border-left: 1px solid #444;
    border-right: 1px solid #444;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;

    margin-top: 25px;
}

.SelfMessageGroup {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.MessageGroup {
    padding-top: 25px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.MessageBubble {
    background-color: #3a86ff;
    padding: 10px;
    border-radius: 25px;
    max-width: 110%;
    width: 110%;
    color: #ffffff;
    margin: 2px;
    text-align: left;
}

.SelfBubble {
    background-color: #06d6a0;
    padding: 10px;
    border-radius: 25px;
    max-width: 110%;
    width: 110%;
    color: #ffffff;
    margin: 2px;
    text-align: right;
    position: relative;
    right: 20%;
}

.Name {
    font-size: 14px;
    margin: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #bbbbbb;
}

.input {
    width: 100%;
    height: 5%;
    background-color: #2a2a2a;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0 auto;
    border-left: 1px solid #444;
    border-right: 1px solid #444;
    border-bottom: 1px solid #444;
}

#inputText {
    width: 90%;
    height: 100%;
    margin-left: 35px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 10px;
    background-color: #1e1e1e;
    color: #f0f0f0;
    padding: 5px;
    position: relative;
    bottom: 10%;
}

#inputText:focus {
    outline: none;
}

#SendButton {
    background-color: #3a86ff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
    bottom: 10%;
}

button:hover {
    background-color: #265dbe;
}

.servers{
    height: 90vh;
    position: absolute;
    width: 5%;
    left: 0px;
    top: 50px;
    background-color: #1e1c1c;
    border: grey 1px solid;
    border-left: #2a2a2a;
    border-top: #2a2a2a;
    border-right: #2a2a2a;
    border-bottom: none;
    overflow: auto;
    scrollbar-width: none;
}

.scroller{
    height: 80%;
    width: 8.8%;
    top: 50px;
    position: absolute;
    left: 56px;
    overflow-y: auto;
    border-top-left-radius: 10px;
    
    
}

.direct{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(60, 60, 60);
    border: solid 1px rgb(37, 35, 35);
    border-radius: 30%;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-left: 12%;
    
}



.direct:hover{
    background-color: rgb(4, 163, 255);
    border: solid 1px rgb(0, 115, 255);
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: scale(1);
    cursor: pointer;
    
}






.direct img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upper{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    background-color: #1e1c1c;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 50px;
    
    
}
.upper img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 7px;
    left: 850px;

    
    
    
}