

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discord But Better</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

    <div class="wrapper">

        <div id="chat">

            <div class="MessageGroup">
                <div class="message">
                    <p class="Name"><strong>John Doe</strong></p>
                    <p class="MessageBubble">Hello, how are you?</p>
                    <p class="MessageBubble">Wanna go hang?</p>
                </div>
            </div>
            
            <div class="SelfMessageGroup">
                <div class="message">
                    <p class="SelfBubble">Hey! I'm good, how about you?</p>
                    <p class="SelfBubble">Sure, where do you want to go?</p>
                </div>
            </div>

            <div class="MessageGroup">
                <div class="message">
                    <p class="Name"><strong>Jane Smith</strong></p>
                    <p class="MessageBubble">Hey! I'm good, how about you?</p>
                    <p class="MessageBubble">Sure, where do you want to go?</p>
                </div>
            </div>

            <div class="MessageGroup">
                <div class="message">
                    <p class="Name"><strong>John Doe</strong></p>
                    <p class="MessageBubble">Sweet, let's go to the restaurant down the street.</p>
                </div>
            </div>

        </div>

        <div class="input">
            <input id="inputText" type="text" placeholder="Type a message..." />
            <button id="SendButton">Send</button>
        </div>

    </div>

    <div class="servers">
        <div  class="direct" id="NewChat">
            <img src="../static/logo.png" >
    </div>


    <div class="goa">

    </div>

    <div class="add_server">

    </div>

    </div>
    <div class="scroller" >
        


    </div>
    <div class="upper">
        <p> <img src="../static/logo.png">Direct messages</p>
    </div>
    
    <script src="../static/script.js"></script>
</body>
</html>